# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Bartosz Golaszewski <bartosz.golaszewski@linaro.org>

include setup.py
include README.md

recursive-include gpiod *.py
recursive-include tests *.py

recursive-include gpiod *.cpp
recursive-include gpiod *.hpp

recursive-include tests/gpiosim *.c
recursive-include tests/procname *.c

recursive-include libgpiod/lib *.c
recursive-include libgpiod/lib *.h
recursive-include libgpiod/include *.h

include libgpiod/NEWS
include libgpiod/bindings/python/gpiomodule.c
